@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/*For checking al the borders:
*{border:1px solid red;}*/

*{-webkit-tap-highlight-color:rgba(0,0,0,0.1);}

a, a:hover, a:visited, a:focus, a:active, a:link{
cursor:pointer;
color:inherit;
outline:none;
text-decoration:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
user-select:none;
-webkit-tap-highlight-color:none;
}


html{
    margin:0; 
    padding: 0; 
}

@media only screen and (min-width: 769px) {

.onlyMobile{
display:none;
visibility:hidden;
}

#loader{
	display:flex;
	position:fixed;
	top:0vw;
	left:0vw;
	width: 100vw;
	height:100vh;
	justify-content:center;
	background: center no-repeat rgb(255,229,178);
	opacity:1;
	transition: opacity 2s ease;
	z-index:9999;
	}

		#loaderSVG{			
		width:224px;			
		}
			#lsWheel{
			display:block;
			animation: lswRotate 20s infinite linear;
			transform-origin:50% 50%;
			}
			@keyframes lswRotate{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			#lsClouds{
			display:block;
			animation: lscMove 0.5s infinite ease-out;
			}
			@keyframes lscMove{
				0%{
					transform: translate(0,0) scale(1,1);
					opacity:100%;
					
				}
				75%{
					opacity:75%;
				}
				100%{
					transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
					opacity:0%;
				}
			}
			#lsShip{
			display:block;
			animation: lssMove 1s infinite ease-in-out;
			}
			@keyframes lssMove{
				0%{
					transform: translate(0,0) scale(1,1);					
				}
				50%{
					transform: translate(-170px,-133.12px) scale(1.07,1.07);
				
				}
				100%{
					transform: translate(0,0) scale(1,1);					
				}
			}

#Volume{
	display:block;
	position:absolute;
	top:5vw;
	left:5vw;
	width:2.5vw;
	height:5vw;
	z-index:10;
	cursor:pointer;
	}

}



@media only screen and (max-width: 768px) {

.onlyDesktop{
display:none;
visibility:hidden;
}

#loader{
display:flex;
position:fixed;
top:0vw;
width: 100vw;
height:100vh;
justify-content:center;
background: center no-repeat rgb(255,229,178);
opacity:1;
transition: opacity 2s ease;
z-index:9999;
filter:grayscale(100);
}

	#loaderSVG{			
	width:224px;			
	}
		#lsWheel{
		display:block;
		animation: lswRotate 20s infinite linear;
		transform-origin:50% 50%;
		}
		@keyframes lswRotate{
			from{
				transform: rotate(0deg);
			}
			to{
				transform: rotate(360deg);
			}
		}
		#lsClouds{
		display:block;
		animation: lscMove 0.5s infinite ease-out;
		}
		@keyframes lscMove{
			0%{
				transform: translate(0,0) scale(1,1);
				opacity:100%;
				
			}
			75%{
				opacity:75%;
			}
			100%{
				transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
				opacity:0%;
			}
		}
		#lsShip{
		display:block;
		animation: lssMove 1s infinite ease-in-out;
		}
		@keyframes lssMove{
			0%{
				transform: translate(0,0) scale(1,1);					
			}
			50%{
				transform: translate(-170px,-133.12px) scale(1.07,1.07);
			
			}
			100%{
				transform: translate(0,0) scale(1,1);					
			}
		}
		
#mainContent{
display:block;
position:absolute;
top:0vw;
}

#Volume{
	display:block;
	position:absolute;
	top:5vw;
	left:15vw;
	width:7.5vw;
	height:20vw;
	z-index:10;
	filter:invert(100);
	cursor:pointer;
	}

#headerMenu{
	display:block;
	position:absolute;
	left:85vw;
	top:5vw;
	z-index:10;
	}
		#menuButtonM{
		display:block;
		visibility:visible;
		opacity:1;
		margin-top:0vw;
		width:8vw;
		z-index:10;
		cursor:pointer;
		filter: invert(100);
		-webkit-transition: visibility 0.1s ease, opacity 0.1s ease;
		transition: visibility 0.1s ease, opacity 0.1s ease;
		}
		
		#mtItemsM{
		display:none;
		visibility:hidden;
		z-index:10;	
		flex-direction:column;
		align-items:flex-end;
		margin-top:-6vw;
		margin-left:-50vw;		
		}
			#menuCloseButton{
			display:flex;
			align-items:center;
			z-index:12;
			}
				#menuCloseButtonM{
				margin-top:2vw;
				width:6vw;
				cursor:pointer;
				margin-right:0vw;
				}
			
			#mliButtonsM{
			display: flex;
			position:fixed;
			flex-direction:column;
			align-items:flex-end;
			list-style-type:none;
			padding-left:0vw;
			padding-right:8vw;
			margin-top:-3vw;
			margin-right:-20vw;
			background-color:#bababa;
			width:40vw;
			height:135vw;
			justify-content: space-evenly;
			box-shadow: 0 0 1vw 0vw rgba(186,187,186,0.5);
			border:solid 0.25vw #000;
			font-size:3.556vw;
			}
				#mliButtonsM li{
				display:flex;
				flex-direction:column;
				align-items:center;
				position:relative;
				width:34vw;						
				margin-top:0vw;
				cursor:pointer;
				}
					#mliButtonsM a{
					display:block;
					font-family:'Mandala';
					font-size:5vw;
					letter-spacing:0.3vw;
					color:#000;
					padding-top:1.5vw;
					padding-bottom:1.5vw;
					}
					#ajttitem{color:#fff!important;}

#background{
display:block;
width:100vw;
position:absolute;
z-index:-1;
}
	#bgIMG{
	width:100vw;
	}

#foreground{
display:block;
position:absolute;
top:52.5vw;
z-index:1;
}
	.question{
	display:flex;
	flex-direction:column;
	padding-top:3.5vw;
	width:100vw;
	align-items:center;
	}
	.qQuestion{
	display:block;	
	width:70vw;
	line-height:3.25vw;
	font-size:2.5vw;
	font-weight:900;
	}
	.qAnswer{
	display:block;	
	width:70vw;
	padding-top:1vw;
	font-size:2.75vw;
	font-weight:400;
	}
	#question1{}
		#q1Answer{
		margin-left:-6vw;	
		width:65vw;
		}
	#question2{	
	}
		#q2Question{
		margin-left:6vw;	
		width:65vw;
		}
		#q2Answer{
		margin-left:7vw;	
		width:65vw;
		}
	#question3{	
	}
		#q3Question{
		margin-left:3vw;	
		width:67vw;
		}
		#q3Answer{
		margin-left:3vw;		
		width:53vw;
		}
	#question4{	
	}
		#q4Question{
		margin-left:0vw;
		width:75vw;			
		}
		#q4Answer{
		margin-left:0vw;		
		width:75vw;
		}
	
	#question5{	
	}
		#q5Question{
		width:65vw;
		margin-left:0vw;				
		}
		#q5Answer{
		margin-left:0vw;		
		width:65vw;
		}
	
	#q6Question, #q6Answer, #q7Question, #q7Answer, #q8Question, #q8Answer{width:85vw;}
	
	#footer{
		display:block;			
		list-style-type:none;
		width:100vw;
		height:70vw;
		background-color:#bababa;
		margin:0%;
		padding-left:0vw;
		padding-right:0vw;
		margin-top:5vw;
		padding-bottom:0vw;
		border-top:solid 0.5vw #000;
		z-index:10;
		}
			#logoBottom{
			display:block;
			float:left;
			margin-top:14.5vw;
			margin-left:15vw;
			margin-right:15vw;
			width:30vw;
			text-align:center;
			font-family:"Mandala";
			font-size:3.6vw;
			}
				#logoBottomPic{display:block;filter: grayscale(100%) brightness(0%);}
			#middleListBottom{
			display:block;
			float:right;
			margin-top:8vw;
			margin-right:15vw;					
			}
				.mlbItem{
				display:block;
				margin-bottom:3vw;
				font-size:2.75vw;
				width:25vw;
				color:#000;
				}						
				#bottomMenuDividerM{
				display:block;
				float:right;
				width:25vw;
				margin-right:-25vw;
				margin-top:34vw;
				height:0.3906vw;
				background-color:#000;
				}	
				
			#middleListRight{
			display:block;					
			float:right;
			margin-top:37.316vw;
			margin-right:-25vw;		
			}
				.mlrItem{
				display:block;
				margin-bottom:3vw;
				font-size:2.75vw;
				width:25vw;
				color:#000;
				}
				#fbIcon{
				padding-top:1vw;
				width:6.5vw;
				filter: grayscale(100%) brightness(0%);
				}
#footerBottom{
display:block;
width:100vw;
height:12.5vw;
background-color:#bababa;
border-bottom:solid 0.5vw #000;
}			
	#creditsLove{
	display:block;	
	position:relative;		
	color:#000;
	font-size:2.5vw;
	font-weight:300;
	letter-spacing:0.2vw;
	margin-top:0vw;
	margin-bottom:0vw;
	padding-left-right:0vw;
	text-align: center;	
	z-index:10;
	}
		#loveImg{
		width:4vw;
		filter: grayscale(100%) brightness(0%);
		}
	#footerBg1{
	display:block;
	position:absolute;
	margin-top:-66.5vw;
	transform:scale(2,2) rotate(180deg) translateX(25vw);
	z-index:0;
	filter:grayscale(100) invert(100);
	opacity:15%;
	}	
	#footerBg2{
	display:block;
	position:absolute;
	margin-top:-12vw;
	transform:scale(2,2);
	z-index:0;
	filter:grayscale(100) invert(100);
	opacity:15%;
	}	


}




